// ------------------------------------------------------------
//    Google Fonts CSS -- insert into layout <head>
// ------------------------------------------------------------
    
    $google_font_OpenSans:          "Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300";
    $google_font_AveriaSerifLibre:  "Averia+Serif+Libre:300,400,700,300italic,400italic,700italic";
    $google_font_SourceCodePro:     "Source+Code+Pro:300,400,600,700";

// ------------------------------------------------------------
//    Brand Colors
// ------------------------------------------------------------

    $black:   #333333;
    $white:   #ffffff;
    $ltGrey:  #ececec;
    $dkGrey:  #444;

    $bg_color: #f1fdf7;

    // Rdio Blue, as per v1
    $color_primary: #008fc9;
    $color_primary_darker: #00719f;

    // Rdio Orange, as per v1
    $color_secondary: #ed3f1c;

// ------------------------------------------------------------
//    Typography: Colors
// ------------------------------------------------------------

    $link_color: #0076da;
    $body_copy_color_reg: #444;
    $body_copy_color_strong: #222;
    $body_copy_color_subtle: #888;

    $body_copy_color_onDark_reg: #ddd;
    $body_copy_color_onDark_strong: #fff;
// ------------------------------------------------------------
//    Typography: Font Sizes & Line Height
// ------------------------------------------------------------

    // ...

// ------------------------------------------------------------
//    Typography: Font Families
// ------------------------------------------------------------
  
    // Generic
    // -----------------------------------------------
    // $body_fonts_primary: 'Open Sans','Helvetica Neue', Arial;
    // $body_fonts_mono: "Courier New","Anonymous Pro",monospace;

    // Songnotes
    // -----------------------------------------------
       $body_fonts_primary: 'Bitter','Helvetica Neue', Arial;
       $body_fonts_mono: "Courier New","Anonymous Pro",monospace;

// ------------------------------------------------------------
//    Misc. Variables
// ------------------------------------------------------------

    $border_radius: 3px;