// ------------------------------------------------------------
//    Google Fonts CSS -- insert into layout <head>
// ------------------------------------------------------------
    
    $google_font_OpenSans:          "Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300";
    $google_font_AveriaSerifLibre:  "Averia+Serif+Libre:300,400,700,300italic,400italic,700italic";
    $google_font_SourceCodePro:     "Source+Code+Pro:300,400,600,700";

// ------------------------------------------------------------
//    Colors
// ------------------------------------------------------------

    $color-black:     #252525;
    $color-white:     #fff;
    $color-ltGrey:    #e7e7e7;
    $color-dkGrey:    #444;

    $color-primary:   #008fd6; // Rdio blue
    $color-primary:   #7acee9; // Light aqua
    $color-secondary: #f75800;

// ------------------------------------------------------------
//    Typography: Colors
// ------------------------------------------------------------

    $link_color: #0076da;
    $body_copy_color_reg: #eee;
    $body_copy_color_strong: #fff;
    $body_copy_color_subtle: #eee;

    $body_copy_color_onDark_reg: #ddd;
    $body_copy_color_onDark_strong: #fff;

// ------------------------------------------------------------
//    Typography: Font Families
// ------------------------------------------------------------
  
    // Generic
    // -----------------------------------------------
    // $body_fonts_primary: 'Open Sans','Helvetica Neue', Arial;
    // $body_fonts_mono: "Courier New","Anonymous Pro",monospace;

    // Songnotes
    // -----------------------------------------------
       $body_fonts_primary: 'Bitter','Helvetica Neue', Arial;
       $body_font_secondary: 'ProximaNovaRegular', 'Lucida Grande','Helvetica Neue', Arial;
       $body_font_secondary_bold: 'ProximaNovaBold', 'Lucida Grande','Helvetica Neue', Arial;
       $body_fonts_mono: "Courier New","Anonymous Pro",monospace;
       
       $proxima_nova_reg: 'ProximaNovaRegular', 'Lucida Grande','Helvetica Neue', Arial;
       $proxima_nova_bold: 'ProximaNovaBold', 'Lucida Grande','Helvetica Neue', Arial;
       $proxima_nova_semi: 'ProximaNovaSemi', 'Lucida Grande','Helvetica Neue', Arial;
       $proxima_nova_light: 'ProximaNovaLight', 'Lucida Grande','Helvetica Neue', Arial;
       $proxima_nova_thin: 'ProximaNovaThin', 'Lucida Grande','Helvetica Neue', Arial;
       $font_bitter: 'Bitter','Helvetica Neue', Arial;

// ------------------------------------------------------------
//    Misc. Variables
// ------------------------------------------------------------

    $border_radius: 6px;