
        // Element colors
        .color-ltGrey    { color: $color-ltGrey; }
        .color-dkGrey    { color: $color-dkGrey; }
        .color-black     { color: $color-black; }
        .color-white     { color: $color-white; }
        .color-primary   { color: $color-primary; }
        .color-secondary { color: $color-secondary; }

        // Background colors
        .bg-ltGrey       { background: $color-ltGrey; }
        .bg-dkGrey       { background: $color-dkGrey; }
        .bg-black        { background: $color-black; }
        .bg-white        { background: $color-white; }
        .bg-primary      { background: $color-primary; }
        .bg-secondary    { background: $color-secondary; }
        
        //
        .bg-white       { color: #555; }
        .bg-white       {
          h1, h2, h3,
          h4, h5, h6,
          strong        { color: #222; }
          h2.ribbon     { color: #fff; }
        }