// RESPONSIVE RESETS
// -----------------
// Taken from Foldy via https://github.com/davatron5000/Foldy960#readme

      html {
        overflow-y: auto;
      }

      img,
      audio,
      video,
      canvas {
        max-width: 100%;
      }

      /* apply a natural box layout model to all elements */
      //* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* -- LAYOUT -- */

        .section        { }

        .wrapper        { width: 940px; padding: 28px 28px 0; margin: 0 auto; overflow: hidden; }
        .wrapper-full   { margin: 0; width: 100%; }
              

/* -- GRID -- */

      .grid         { margin-left: -20px; @include clearfix; }
      .grid .unit   { float: left;
                      margin-left:  20px;
                      margin-bottom: 20px; }

      .grid .unit.span-grid   { width: 940px; }
      .grid .unit.one-of-four { width: 220px; }

/* -- TILES -- */

      .tile   { border-radius: $border-radius; padding: 28px 28px 12px; }