// RESPONSIVE RESETS
// -----------------
// Taken from Foldy via https://github.com/davatron5000/Foldy960#readme

      html {
        overflow-y: auto;
      }

      img,
      audio,
      video,
      canvas {
        max-width: 100%;
      }

      /* apply a natural box layout model to all elements */
      * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* -- LAYOUT -- */

        .section        { padding: 28px; position: relative; z-index: 2; }

        .wrapper        { width: 940px; margin: 0 auto; }
        .wrapper-slim   { width: 700px; }
        .wrapper-full   { margin: 0; width: 100%; }
              

/* -- TILES -- */

      .tile   { border-radius: $border-radius; padding: 28px 28px 12px; background-color: $color-white; margin-bottom: 4.8rem; }