<div class="" style="background: #333; padding: 12px;">
  <p style="margin: 0;color:#fff;padding: 0;font-size: 16px;line-height: 24px;">
    <%= link_to "Artists", artists_url, :style=>"color:#ffff00;" %>&nbsp;&nbsp;|&nbsp;
    <%= link_to "Albums", albums_url, :style=>"color:#ffff00;" %>&nbsp;&nbsp;|&nbsp;
    <%= link_to "Songs", admin_url, :style=>"color:#ffff00;" %>
  </p>
</div>