  <div class="browse_nav">
    <div class="container">
      <div class="browse_nav_wrap_outer">
        <ul class="browse_nav_wrap">
          <li class="home"><a href="">home</a></li>
          <li class="browse_links">
            <ul>
              <li><a href="">by title</a></li>
              <li class="active"><a href="">by artist</a></li>
              <li><a href="">by year</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>