<div class="full-bleed bg-color-black">
  <div class="container">
    <div class="content global_nav">
      <a href="<%= root_url %>" class="logo_link">
        <h1>songnotes</h1>
        <p>hand-crafted music notation by @davidpots</p>
      </a>
      <ul class="pri_nav">
        <li class="reg"><a href="<%= root_url %>">browse all songs</a></li>
        <li class="reg"><a href="<%= about_url %>">about</a></li>
        <li class="reg dropdown_reveal"><a href="#">follow<span></span></a></li>
        <li class="dropdown_itself">
          <ul>
            <li><a target="_blank" href="http://facebook.com/songnotes">Facebook</a></li>
            <li><a target="_blank" href="http://twitter.com/playsongnotes">Twitter</a></li>
            <li><a target="_blank" href="https://plus.google.com/108964489013808568272/posts">Google+</a></li>
          </ul>
        </li>
      </ul>
    </div> <!-- end: .content -->
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed -->
