    <div id="shelf">
      <div id="title">
        <a class="title-link-wrap" href="/">
          <img src="/assets/logo.svg" />
          <div class="text">
            <h1>Songnotes</h1>
            <p>the hand-crafted music library of @davidpots</p>
          </div> <!-- end: .text -->
        </a>
        <a id="navburger" href="#">&nbsp;</a>
      </div> <!-- #title -->

      <div id="drawer">
        <div id="nav">
          <ul>
            <li><a href="<%= root_url %>#">welcome</a></li>
            <li><a href="<%= root_url %>#recently_added">recently added</a></li>
            <li><a href="<%= root_url %>#browse_all_songs">browse all songs</a></li>
            <li><a href="<%= root_url %>#about">about</a></li>
          </ul>
        </div> <!-- end: #nav -->

        <div id="social">
          <p>follow Songnotes:</p>
          <ul>
            <li class="tw"><a href="http://twitter.com/_songnotes">twitter</a></li>
            <li class="fb"><a href="http://facebook.com/songnotes">facebook</a></li>
            <li class="yt"><a href="http://www.youtube.com/user/playsongnotes">youtube</a></li>
            <li class="gplus"><a href="https://plus.google.com/+songnotesCC" rel="publisher">google+</a></li>
          </ul>
        </div> <!-- end: #nav -->
      </div> <!-- end: #drawer -->

    </div> <!-- end: #shelf -->