<h1 style="font-weight:500; color: #333; text-align: center; font-size: 70px; line-height: 90px;">SONGNOTES</h1>
<p style="font-weight:100; text-align: center;">hand-crafted guitar tabs from <a style="color:#77bcd8;" href="http://twitter.com/davidpots">@davidpots</a></p>
<ul class="directory">
  <% @songs.each do |song| %>
  <li>
    <a href="<%= song_details_url(:id => song.id) %>">
      <strong><%= song.title %></strong>
      <%= song.artist %> &bull; <%= song.year %>
    </a>
  </li>
  <% end %>
</ul>
<p style="font-weight:100; text-align: center;">more coming soon.</p>