<ul class="directory">
  <% @songs.each do |song| %>
  <li>
    <a href="<%= song_details_url(:id => song.id) %>">
      <strong><%= song.title %></strong><br />
      <%= song.artist %>
    </a>
  </li>
  <% end %>
</ul>

<p><%= link_to "admin", songs_url %></p>