<div class="container">
  <p style="margin: 10px 0 0 0; font-size: 16px;"><a style="display: block; padding: 12px 0 15px;" href="<%= root_url %>">&larr; back to the song list</a></p>
  <div class="content content-island" style="margin-top: 0; margin-bottom: 0;">
    <h1>All About Songnotes</h1>
    <p>I built Songnotes to make my personal collection of hand-crafted guitar tabs available to the world. Each song transcription on this site was hand-crafted and added to the site directly by me.</p>
    <h2>Why I Am Building This</h2>
    <p>I built this site because the typical experience of finding guitar chords / tabs / lyrics online could be vastly improved. All too often, aggregated collections of guitar tabs are inconsistent, incomplete, and inaccurate. Songnotes solves this problem by offering a collection where each song transcription is hand-crafted by a single human being (me!). Accuracy is top-notch. Song formatting is consistent. No shortcuts are taken.</p>
    <p>While it is impossible for me to transcribe every song out there, I can guarantee each song you do see here is crafted with precision and care.</p>
    <p style="text-align:center;">
      <img src="/assets/kitchen_v1.png" width="100%"/>
    </p>
    <h2>Who I am</h2>
    <p>My name is David Potsiadlo and I live in Maryland. By day, I am a User Experience designer for LivingSocial in Washington, DC. In addition to transcribing each song  you'll find on Songnotes, I've also designed and developed the site myself. If you like, you can follow me on <a href="http://www.twitter.com/davidpots" target="_blank">Twitter</a> or send me an <a href="mailto:play.songnotes@gmail.com" target="_blank">email</a>.</p>
    <h2>Before you leave...</h2>
    <p>If you would, please "recommend" Songnotes on Facebook or follow us on Twitter. It will help keep you posted of new songs I add to the site. You can also make requests. The possibilities! Go on, now:</p>
    <p style="margin-right: 10px; float: left;"><a href="https://twitter.com/playsongnotes" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @davidpots</a></p>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" style="margin-bottom: 20px;" data-href="http://www.songnotes.cc" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui" data-action="recommend"></div>
  </div> <!-- end: .content -->
    <p style="margin: 0 0 10px 0; font-size: 16px;"><a style="display: block; padding: 18px 0 12px;" href="<%= root_url %>">&larr; back to the song list</a></p>
</div> <!-- end: .container -->