body.pages.home { 
  // via http://css-tricks.com/perfect-full-page-background-image/
  background: transparent url(/assets/background_livingroom_2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.pages.home .overlay { background: url(/assets/background_overlay_1.png) repeat; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 4; }

.home-wrap { position: relative; z-index: 5; }

.home-wrap .hero h1 { font-family: $proxima_nova_thin; font-weight: normal; color: #fff; text-align: center; }