.global_nav { z-index: 4; padding: 0; height: 72px; background: #2a2a2a;
  
  .logo_link      { display: inline-block; }
  .logo_link h1   { font-size: 21px; text-transform: uppercase; letter-spacing: 1px; margin: 18px 0 0 0; padding: 0; line-height: 24px; font-family: $body_font_secondary_bold; font-weight: normal; }
  .logo_link p    { font-size: 14px; color: #888; margin: 0; padding: 0; line-height: 18px; font-family: $body_font_secondary; }
  
  .pri_nav                      { float: right; display: inline-block; position: relative; }
  .pri_nav > li.reg             { list-style: none; float: left; overflow: hidden; margin: 24px 0 0 0; }
  .pri_nav > li.reg > a         { display: block; padding: 0 14px; color: #eee; text-transform: uppercase; font-family: $body_font_secondary; font-size: 13px; line-height: 28px; border-radius: 14px; }
  .pri_nav > li.reg > a:hover   { background: $color-secondary; }

  .pri_nav > li.dropdown_reveal      { position: relative; margin-left: 7px; }
  .pri_nav > li.dropdown_reveal > a  { padding-right: 40px; border: 1px solid #fff; border-radius: 14px; }
  .pri_nav > li.dropdown_reveal > a:hover { border-color: $color-secondary; color: #fff; background: $color-secondary; }
  .pri_nav > li.dropdown_reveal span { display: block; content: ""; position: absolute; border-top: 5px solid #fff; border-left: 5px solid transparent; border-right: 5px solid transparent; width: 0; height: 0; top: 13px; right: 15px; }
  .pri_nav > li.dropdown_reveal > a:hover span,
  .pri_nav > li.dropdown_reveal.open span { border-top: 6px solid #fff; }
  .pri_nav > li.dropdown_reveal.open > a  { background: $color-secondary; border-color: $color-secondary; }

  .pri_nav > li.dropdown_itself         { display: none; list-style: none; position: absolute; top: 64px; right: -10px; z-index: 1; background: #444; width: 300px; border-radius: 6px; }
  .pri_nav > li.dropdown_itself.visible { display: block; }
  .pri_nav > li.dropdown_itself:before  { content: ""; width: 0; height: 0; position: absolute; border-bottom: 7px solid #444; border-left: 7px solid transparent; border-right: 7px solid transparent; top: -7px; right: 23px; }
  .pri_nav > li.dropdown_itself ul      { margin: 0; padding: 0; }  
  .pri_nav > li.dropdown_itself ul li   { list-style:none; border-top: 1px solid #555; padding: 10px 15px; font-size: 1.4rem; }
  .pri_nav > li.dropdown_itself ul li:first-child { border: none; }

  .pri_nav > li.dropdown_itself ul li a { color: #eee; display: block; padding: 10px 15px; }
  .pri_nav > li.dropdown_itself ul li a:hover { background: $color-primary; }
  
}


// Homepage variation - clean this up

body.sandbox.homepage {
 
  .global_nav                               { position: absolute; z-index: 15; top: 0; left: 0; right: 0; padding: 0 20px;}

}