        // Songnotes-specific -- extract later!

        .song-show { position: relative; }
        .grid .unit.song-show { padding-top: 0; }

        .song-show {                      
          section                       { padding-top: 32px; }
          section#lyrics                { padding-top: 0; }
          .pre_lyrics                   { margin-top: 28px; }
          .pre_lyrics h4.section_head   { margin: 0 0 -1.1rem 0; }
          .chords_inline,
          .chord                        { color: $color-secondary; }
          .chords_repeated              { display: none; }
          span.chord_notation           { color: #777; }
          .note                         { color: #aaa; }
          h2 + h4                       { margin-top: 0; }
          h5.sub_head                   { color: #555; font-style: normal; font-size: 1.7rem; line-height: 2.3rem; margin: -1.0rem 0 0.6rem 0; }
        }


        .song-show .song-head { 
                        margin: 0 -28px 0px; padding: 28px 28px 21px; position: relative; border-radius: $border-radius $border-radius 0 0;
          
          img.thumb     { position: absolute; right: 25px; top: 24px; width: 90px; height: 90px; border-radius: 45px; margin: 0 0 0 0; }
          p             { color: #999; margin: 0 0 2px 0; padding: 0; font-size: 14px; font-family: $proxima_nova_light; }
          p strong      { color: #777; font-family: $proxima_nova_semi; font-weight: normal; }
          h1            { margin: 5px 105px 5px 0; color: #333; font-size: 48px; line-height: 54px; }
        }
        
        .song-show .song-nav { 
          
          ul        { @include clearfix; padding: 12px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 0; position: relative; }
          li        { list-style: none; float: left; margin: 0 8px 0 0; }
          li a      { font-size: 14px; line-height: 27px; border-radius: 14px; display: block; padding: 1px 15px 0; background: transparent; border: 1px solid $color-secondary; color: $color-secondary; font-family: $proxima_nova_semi; }
          li a.active { background: $color-secondary; color: #fff; }
          
          &.fixed     { position: fixed; top: 0; left: 0; right: 0; background: rgba(255,255,255,0.95); box-shadow: 0px 2px 0px rgba(0,0,0,0.1);}
          &.fixed ul  { margin: 0 auto; width: 884px; border: none; }

          li.fb-like-wrapper { position: absolute; right: 0; }

        }