        // Songnotes-specific -- extract later!
        .song-show {            position: relative; margin-top: 20px;
          .pre_lyrics h4.section_head  { margin: 0 0 -1.1rem 0; }
          .chords_inline,
          .chord                { color: $color_secondary; }
          .chords_repeated      { display: none; }
          span.chord_notation   { color: #777; }
          .note                 { color: #aaa; }
          pre.pre_notes         { margin-top: -1rem; }
          h2 + h4               { margin-top: 0; }
          h4 + h5               { margin-top: -0.5rem; }
          .full-width.bordered  { border-top: 3px double #eee; padding-top: 42px; }
          section.bg-dark       { color: #fff; }
          section.song-head     { border-radius: 3px 3px 0 0; }
          h2.ribbon             { margin-top: 40px; }
        }
