    
        .tiles-full-v3                 { margin: 0 0 18px 0; padding: 0; }
        .tiles-full-v3 li              { list-style: none; background: $white; margin: 0 0 1px 0; }
        .tiles-full-v3 li a            { color: $body_copy_color_strong; @include clearfix; display: block; padding: 20px 20px 15px; }
        .tiles-full-v3 li a .thumb     { float: left; background: #aaa; width: 74px; height: 74px; border-radius: 37px; margin-top: 3px; }
        .tiles-full-v3 li a h3         { margin: 0 0 0.5rem 0; font-size: 2.7rem; line-height: 2.8rem; padding-bottom: 0.8rem; padding: 0 0 0 10px; font-weight: bold; }
        .tiles-full-v3 li a p          { font-size: 1.8rem; line-height: 2.0rem; padding: 9px 10px 6px; color: $color_secondary;  margin: 0; border-radius: 4px; }
        .tiles-full-v3 li a p:hover,
        .tiles-full-v3 li a p:hover span  { color: $color_primary;  }
        .tiles-full-v3 li a p strong   { display: block; margin-bottom: 3px; font-weight: bold; }
        .tiles-full-v3 li a p span     { font-size: 1.4rem; color: #bbb; font-weight: normal; }

        // Have the content clear the thumbnail, if the thumbnail is present
        .tiles-full-v3 li.with_thumb a            { 
            h3,p                       { margin-left: 86px; }
        }

        .tiles-full-v3.latest       { margin-bottom: 1px; }
        .tiles-full-v3.latest a h3  { margin-bottom: 0; }
        .tiles-full-v3.latest a:hover { background-color: #ebf9ff; color: $body_copy_color_strong; }
        .tiles-full-v3.latest a p:hover {  }