<pre class="pre_lyrics"><span class="intro"><span class="note">(capo 4th fret)</span>

<h4 class="section_head">Intro</h4>
<span class="chord_notation">    <strong class="chord">G</strong> ... <strong class="chord">Bm</strong> ... <strong class="chord">C</strong> ... <strong class="chord">G</strong> ...
    <strong class="chord">G</strong> ... <strong class="chord">Em</strong> ... <strong class="chord">C</strong> ... <strong class="chord">D</strong> ...
    
                <span class="note">(...see below for intro picking tab)</span></span>

</span><h4 class="section_head">Verse</h4>
<span class="chords_inline">    <strong class="chord">G</strong>                 <strong class="chord">Bm</strong>               <strong class="chord">C</strong>     <strong class="chord">G</strong> 
</span>    All it'll take is just one moment, and
<span class="chords_inline">    <strong class="chord">G</strong>               <strong class="chord">Em</strong>            <strong class="chord">C</strong>      <strong class="chord">D</strong> 
</span>    You can say goodbye to how we had it planned
    Fear like a habit, run like a rabbit out and away
    Through the screen door to the unknown

<h4 class="section_head">Pre-Chorus</h4>
<span class="chords_inline">            <strong class="chord">Em</strong>
</span>        And I wanna love you and more
<span class="chords_inline">        <strong class="chord">Am</strong> 
</span>        I wanna find you and more
<span class="chords_inline">        <strong class="chord">C</strong>              <strong class="chord">G</strong>             <strong class="chord">Bm</strong> 
</span>        Where do you reside when you hide
<span class="chords_inline">                  <strong class="chord">D</strong> 
</span>        How can I find you

        'Cause I wanna send you and more
        I wanna tempt you and more
        Can you tell that I am alive
        Let me prove it

<h4 class="section_head">Chorus</h4>
<span class="chords_inline">                    <strong class="chord">G</strong>            <strong class="chord">Em</strong>
</span>            You and I, we're the same 
<span class="chords_inline">                     <strong class="chord">Am</strong>             <strong class="chord">D</strong> 
</span>            Live and die, we're the same 
            Hear my voice, know my name 
            You and I, we're the same

    Live like a pharaoh, sing like a sparrow, anyway
    Even if there is no land or love in sight
    We bloom like roses, lead like Moses, out and away
    Through the bitter crowd to the daylight

        And I wanna love you and more
        I wanna find you and more
        Can you tell that I am alive
        Let me prove it to you

            You and I, we're the same
            Live and die, we're the same
            You rejoice, I complain
            But you and I, we're the same
            
            Live and die, we're the same
            You and I, we're the same
            Hear my voice, know my name
            You and I, we're the same

<span class="chords_inline">    (instrumental verse w/ solo)
</span>
        And I wanna love you and more
        I wanna find you and more
        Where do you reside when you hide
        How can I find you

        'Cause I wanna send you and more
        I wanna tempt you and more
        Can you tell that I am alive
        Let me prove it

            You and I, we're the same
            Live and die, we're the same
            You rejoice, I complain
            But you and I, we're the same
            
            Live and die, we're the same
            You and I, we're the same
            Hear my voice, know my name
            You and I... you and I...</pre>