<h4 class="section_head">Intro</h4>
<pre class="chord_notation">| <strong class="chord">G</strong> . . . | <strong class="chord">Bm</strong> . . . | <strong class="chord">C</strong> . . . | <strong class="chord">G</strong> . . . |
| <strong class="chord">G</strong> . . . | <strong class="chord">Em</strong> . . . | <strong class="chord">C</strong> . . . | <strong class="chord">D</strong> . . . |
                    <span class="note">(...with picking riff)</span></pre>

<h4 class="section_head">Verse</h4>
<h5 class="sub_head">"All it'll take is just one moment, and..."</h5>
<pre class="chord_notation">| <strong class="chord">G</strong> . . . | <strong class="chord">Bm</strong> . . . | <strong class="chord">C</strong> . . . | <strong class="chord">G</strong> . . . |
| <strong class="chord">G</strong> . . . | <strong class="chord">Em</strong> . . . | <strong class="chord">C</strong> . . . | <strong class="chord">D</strong> . . . |
                               <span class="note">(...repeat)</span></pre>

<h4 class="section_head">Pre-Chorus</h4>
<h5 class="sub_head">"And I wanna love you and more..."</h5>
<pre class="chord_notation">| <strong class="chord">Em</strong> . . . | . . . . | <strong class="chord">Am</strong> . . . | . . . . |
|  <strong class="chord">C</strong> . . . | <strong class="chord">G</strong> . . . | <strong class="chord">Bm</strong> . . . | <strong class="chord">C</strong> . . . |
                                <span class="note">(...repeat)</span></pre>

<h4 class="section_head">Chorus</h4>
<h5 class="sub_head">"You and I, we're the same..."</h5>
<pre class="chord_notation">| <strong class="chord">G</strong> . <strong class="chord">Em</strong> . | <strong class="chord">Am</strong> . <strong class="chord">D</strong> . |
            <span class="note">(...repeat)</span></pre>