<h4 class="section_head">Recommended Video Lesson</h4>
<p>Rejoice, for here is a video of Seth Avett giving a walkthrough of how to play this song. He explains and demonstrates the chords used in each section of the song, and plays them in proper sequence. This is very helpful if you want a slowed down video demonstration of how to put it all together.</p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/LQWwiAZvfas" frameborder="0" allowfullscreen=""></iframe>
<br /><br />
<h4 class="section_head">Official Music Video</h4>
<p>To hear the complete song as per the album, you can listen along with the video below. You can play along using the chords above (remember to add a capo to the 4th fret). Enjoy!</p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/e5CMDmxtpbc" frameborder="0" allowfullscreen=""></iframe>
<br /><br />