<p>
  <strong>Song: </strong>Live and Die<br>
  <strong>Artist: </strong>The Avett Brothers<br>
  <strong>Album: </strong>The Carpenter<br>
  <strong>Year: </strong>2012<br>
  <strong>Label: </strong>Universal Republic
</p>