<%# Adds body class for full color background %>
<% content_for :extra_class_names_for_body do %>colored-bg<% end %>

<%= render "sandbox/sandbox_nav" %>

<div class="container">
  <div class="full-width">
    <h1>Full Color Backgrounds</h1>
    <p>Can be attained by adding class <code>.color-bg</code> to the body tag. As of this writing, this is setup by adding a <code>content_for</code> block to the top of each view where a full color background is necessary. This may be improved somehow -- need to check.</p>
    <p>But the principle remains -- add the aforementioned class to the body tag.</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <p>No matter how tall this page gets, the background color will always go all the way to the bottom.</p>
  </div> <!-- end: full-width -->
</div> <!-- end: .container -->

<div class="full-bleed full-bleed-light">
  <div class="container">
    <div class="full-width">
      <h2>Full-Bleed Content</h2>
      <p>As you can see, the background of this section extends to the ends of the screen. This is done by simply adding a <code>div</code> with class <code>.full-bleed</code> around a <code>.container</code> element. Otherwise, you follow the rules with wrapping things inside the appropriate grid wrappers, such as <code>.full-width</code> and <code>.row></code>, etc.</p>
      <p>All types of gridded content (shown below) can be used inside of full-bleed areas without any tweaks needed.</p>
    </div> <!-- end: .full-width -->
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed -->

<div class="full-bleed full-bleed-dark">
  <div class="container">
    <div class="full-width">
      <h2>Full-Bleed Content, Dark Background</h2>
      <p>You can also have full bleed content on dark backgrounds.</p>
    </div> <!-- end: .full-width -->
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed -->

<div class="container">
  <div class="full-width">
    <p>And at the end of the day, you can see the full color background comes back to save the day.</p>
    <p>Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui.</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <p>No matter how tall this page gets, the background color will always go all the way to the bottom.</p>
  </div> <!-- end: full-width -->
</div> <!-- end: .container -->
