<%= render "sandbox/sandbox_nav" %>

<div class="full-bleed bg-color-primary">
  <div class="container">
    <section>
      <div class="full-width">
        <h1>General Typography</h1>
        <p>Here is presentation are all basic, universal HTML elements.</p>
      </div> <!-- .full-width -->
    </section>
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed .bg-color-primary -->

<div class="container">

  <section>
    <div class="full-width">

      <h1>Header Level 1</h1>
      <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
      <ul>
        <li>The first cut the deepest</li>
        <li>Take the journey to the end of the night</li>
        <li>Realms of pain, realms of bliss</li>
      </ul>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      <h2>Header Level 2</h2>
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      <ol>
        <li>The first cut the deepest</li>
        <li>Take the journey to the end of the night</li>
        <li>Realms of pain, realms of bliss</li>
      </ol>
      <p>Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      <h3>Header Level 3</h3>
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <pre>
  #header h1 a { 
    display: block; 
    width: 300px; 
    height: 80px; 
  }</pre>
      <h4>Regular h4</h4>
      <p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod.</p>
      <h5>Regular h5</h5>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div> <!-- end: .full-width -->
  </section>
    
  <section>
    <div class="full-width">
      <h2>Definition List</h2>
      <p>And I am a paragraph of text. I have a lot of words and spaces. I might not make sense. Exercise your sense of geography. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam.</p>
      <dl>
        <dt>Thor</dt>
        <dd>Their debut, self-titled album. Released in 1967. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
        <dt>Iron Man</dt>
        <dd>Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</dd>
        <dt>The Hulk</dt>
        <dd>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</dd>
        <dt>Captain America</dt>
        <dd>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</dd>
      </dl>
    </div> <!-- end: .full-width -->
  </section>

  <section>
    <div class="full-width">
      <h2>Table</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Occupation</th>
          <th>Favorite Color</th>
          <th>Random Sentence</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Leonardo</td>
          <td>Leads</td>
          <td>Blue</td>
          <td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Donatello</td>
          <td>Does Machines</td>
          <td>Purple</td>
          <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Raphael</td>
          <td>Cool, But Rude</td>
          <td>Red</td>
          <td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Michelangelo</td>
          <td>A Party Dude</td>
          <td>Orange</td>
          <td>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</td>
        </tr>
      </table>
    </div> <!-- end: .full-width -->
  </section>

  <section>
    <div class="full-width">
      <h2>Buttons</h2>

      <p>A primary button.</p>
      <p><a href="#" class="btn">Definitely</a></p>

      <p>A secondary button.</p>
      <p><a href="#" class="btn btn-secondary">Maybe</a></p>

      <p>A warning button.</p>
      <p><a href="#" class="btn btn-warning">Beware!</a></p>

      <p>Inline buttons.</p>
      <p>
        <a href="#" class="btn">Call Me</a>
        <a href="#" class="btn btn-secondary">Maybe</a>
      </p>

    </div> <!-- end: .full-width -->
  </section>

</div> <!-- end: .container -->