<%= render "sandbox/sandbox_nav" %>


<div class="full-bleed bg-color-primary">
  <div class="container">
    <div class="content">
      <h1>Responsive Grid Structure</h1>
      <p>Here is how you need to structure your front-end markup so that it plays along with Mr. Grid.</p>
    </div> <!-- end: .content -->
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed .bg-color-primary -->

<div class="container">
  <div class="content content-island">
      <h1>Scaffold Overview</h1>
      <p>Here are the basic ways you'll need to wrap your content. In all these examples, the <code>.container</code> class keeps things horizontally centered. The <code>&lt;section&gt;</code> tag keeps chunks of content comfortably spaced apart.</p>
      
      <h4>Centered content, with padding</h4>
<pre class="boxed">
&lt;div class="container"&gt;
  &lt;div class="content"&gt;
      
      // Content goes here
      
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<h4>Centered content, in an island</h4>
<pre class="boxed">
&lt;div class="container"&gt;
  &lt;div class="content content-island"&gt;
      
      // Content goes here
      
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<h4>Full-Bleed Content</h4>
<p>Note, content within full-bleed sections can either be (1) full-width or (2) gridded. In either case, refer to the interior structure above -- and use the external wrapper below.</p>
<pre class="boxed">
&lt;div class="full-bleed"&gt;
  &lt;div class="container"&gt;
    &lt;div class="content"&gt;
      
        // Full-bleed content goes here
      
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

  </div> <!-- end: .content -->
</div> <!-- end: .container -->

<div class="full-bleed wrap-color-white">
  <div class="content">
    <h2>Full Bleed, Not Centered</h2>
    <p>Sometimes you may need to have full-bleed content that you don't want to be centered. An example use case is an administrative section where you'll have very long tables, perhaps.</p>
  </div> <!-- .content -->
</div> <!-- end: full-bleed -->