<div class="section intro">
  <div class="overlay"></div>
  <div class="wrapper wrapper-slim">
    <h1>A personalized collection of hand-crafted guitar tabs, chords, and song lyrics.</h1>
    <p>Hello! My name is David Potsiadlo and I built Songnotes to help others learn to play the songs I love. All songs are 100% transcribed by me personally, with extra effort taken to ensure consistency, accuracy, and attention to detail.</p>  
  </div> <!-- end: .wrapper -->
</div>


<div class="section bg-primary" style="box-shadow: 0px -10px 32px rgba(0,0,0,0.5)">

  <div class="wrapper wrapper-slim">

    <div class="tight">
      <h3>Recently added to Songnotes</h3>
      <p>I typically learn one new song each week and add it to the site. Here is what I’ve been playing lately:</p>
    </div> <!-- end: .tight -->
  
    <div class="song-list">
      <ul>
        <% 3.times do %>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Whitesnake.jpg);">
            <h4>Here I Go Again</h4>
            <p>by <strong>Whitesnake</strong> from the album <strong>Saints &amp; Sinners</strong> released in <strong>1981</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/RickyNelson.jpg);">
            <h4>Lonesome Town</h4>
            <p><strong>Ricky Nelson</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/VampireWeekend.jpg);">
            <h4>Ya Hey</h4>
            <p><strong>Vampire Weekend</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Whitesnake.jpg);">
            <h4>Here I Go Again</h4>
            <p>by <strong>Whitesnake</strong> from the album <strong>Saints &amp; Sinners</strong> released in <strong>1981</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/RickyNelson.jpg);">
            <h4>Lonesome Town</h4>
            <p><strong>Ricky Nelson</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/VampireWeekend.jpg);">
            <h4>Ya Hey</h4>
            <p><strong>Vampire Weekend</strong></p>
          </a>
        </li>
        <% end %>
      </ul>
    </div> <!-- end: .song-list -->

  </div> <!-- end: .wrapper -->

</div>