<%= render "sandbox/sandbox_nav" %>

<div class="full-bleed bg-color-primary">
  <div class="container">
    <section>
      <div class="full-width">
        <h1>Sandbox</h1>
        <p>A styleguide pattern library for starting off your app.</p>
      </div> <!-- .full-width -->
    </section>
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed .bg-color-primary -->

<div class="container">
  <section>
    <div class="full-width">
      <p>Use the links in the navigation bar (above) to find what you need.</p>
    </div> <!-- end: .full-width -->
  </section>
</div> <!-- end: .container -->