<%= render "sandbox/sandbox_nav" %>

<div class="section">
  <div class="wrapper">
    <h1>Sandbox</h1>
    <p>A styleguide pattern library for starting off your app.</p>
  </div> <!-- end: .wrapper -->
</div> <!-- end: .section -->