<%= render "sandbox/sandbox_nav" %>

<div class="container monotest-wrap">
  <div class="full-width">
    <h1>80 characters per line</h1>
  </div> <!-- end: .full-width -->
  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>Inherits</p>
    <pre>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <hr />

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>2.00</p>
    <pre style='font-size: 2.0rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.90</p>
    <pre style='font-size: 1.9rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.80</p>
    <pre style='font-size: 1.8rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.70</p>
    <pre style='font-size: 1.7rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.60</p>
    <pre style='font-size: 1.6rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.50</p>
    <pre style='font-size: 1.5rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.40</p>
    <pre style='font-size: 1.4rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.30</p>
    <pre style='font-size: 1.3rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.20</p>
    <pre style='font-size: 1.2rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.10</p>
    <pre style='font-size: 1.1rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>1.00</p>
    <pre style='font-size: 1.0rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>0.90</p>
    <pre style='font-size: 0.9rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>0.80</p>
    <pre style='font-size: 0.8rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>0.70</p>
    <pre style='font-size: 0.7rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>0.60</p>
    <pre style='font-size: 0.6rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

  <div class="full-width" style="background:#eee; margin-bottom: 20px;">
    <p>0.50</p>
    <pre style='font-size: 0.5rem;'>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . *</pre>
  </div> <!-- end: .full-width -->

</div> <!-- end: .container -->