<%= render "sandbox/sandbox_nav" %>

<div class="full-bleed">
  <div class="container">
    <div class="full-width" style="margin-bottom: 32px;">
      <h1 style="color:white;text-align:center;line-height:200px;">map</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="grid-twothirds">
      <div style="background:white;" class="">
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
      </div>
    </div>
    <div class="grid-onethirds"><div style="height:400px; color: black; font-weight:bold; background:yellow;" class="tile-teacher">SIDE RAIL</div></div>
  </div> <!-- end: .row -->
  <div class="row">
    <div class="grid-twothirds">
      <div style="background:white;" class="">
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
        <div class="grid-half"><div class="tile-teacher">Tile, one of many.<span>.row .grid-tile</span></div></div>
      </div>
    </div>
    <div class="grid-onethirds"><div style="height:400px; color: black; font-weight:bold; background:yellow;" class="tile-teacher">SIDE RAIL</div></div>
  </div> <!-- end: .row -->

</div> <!-- end: .container -->