<% content_for :extra_class_names_for_body do %>wrap-color-ltGrey<% end %>

<div class="song_1">
  <div class="full-width-simple">
    <section class='song-head bg-dark'>
      <img class="thumb" style="float: right; width: 80px; height: 80px; border-radius: 40px; margin: 0 0 0 0;" src="http://fireflygrove.com/songnotes/images/artists/OfMonstersAndMen.png" />
      <h1 style="margin: 8px 0 12px 0; font-weight: normal; font-size: 48px; font-weight: normal">Little Talks</h1>
      <p style="font-size: 16px; opacity: 0.8; margin: 0 0 0 0;">Of Monsters and Men</p>
    </section>
    <section>
      <%= render :partial => '_song_lyrics_1' %>
    </section>
    <section>
      <h2>Notes &amp; Tabs</h2>
      <%= render :partial => 'song_tabs_1' %>
    </section>
  </div>
</div> <!-- end: .song_1 -->