<div class="song_1">
  <div class="full-bleed wrap-color-primary">
    <div class="container">
      <section>
        <div class="full-width">

          <img class="thumb" style="float: left; width: 80px; height: 80px; border-radius: 40px; margin: 0 20px 0 0;" src="http://fireflygrove.com/songnotes/images/artists/OfMonstersAndMen.png" />
          <h1 style="margin: 8px 0 8px 0; font-weight: normal; font-size: 48px;">Little Talks</h1>
          <p style="font-size: 16px; opacity: 0.8; margin: 0 0 18px 0;">Of Monsters and Men</p>

        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <section>
      <div class="full-width">

          <%= render :partial => '_song_lyrics_1' %>

      </div>
    </section>

    <section>
      <div class="full-width bordered">

        <h2>Notes &amp; Tabs</h2>
        <%= render :partial => 'song_tabs_1' %>

      </div>
    </section>

  </div>
</div> <!-- end: .song_1 -->