<%# Adds body class for full color background %>
<% content_for :extra_class_names_for_body do %><% end %>

<%= render "sandbox/sandbox_nav" %>

<div class="full-bleed wrap-color-primary">
  <div class="container">
    <div class="content" style="padding: 20px 0 18px; margin-bottom: -5px;">
      <h1 style="margin: 0; font-weight: normal;">Version 4</h1>
    </div>
  </div>
</div>
<div class="full-bleed wrap-color-black">
  <div class="container">
    <div class="content" style="padding: 20px 0 18px; min-height: 1000px;">
      <div class="tile-v6-wrap">
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/AvettBrothers.jpg" />
          <h2>
            <strong>The Avett Brothers</strong>
            <span>Live and Die</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/FatherJohnMisty.jpg" />
          <h2>
            <strong>Father John Misty</strong>
            <span>Hollywood Cemetery Forever Sings</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/EdwardSharpeAndTheMagneticZeroes.png" />
          <h2>
            <strong>Edwawrd Sharpe &amp; The Magnetic Zeros</strong>
            <span>Home</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/TaylorSwift.png" />
          <h2>
            <strong>Taylor Swift</strong>
            <span>We Are Never Ever Getting Back Together</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/FatherJohnMisty.jpg" />
          <h2>
            <strong>Father John Misty</strong>
            <span>I'm Writing a Novel</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/BobDylan.jpg" />
          <h2>
            <strong>Bob Dylan</strong>
            <span>Shelter from the Storm</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/JimmyBuffett.png" />
          <h2>
            <strong>Jimmy Buffett</strong>
            <span>The Weather is Here, Wish You Were Beautiful</span>
          </h2>
        </a>
        <a class="tile-v6" href="">
          <img src="http://fireflygrove.com/songnotes/images/artists/JohnnyCash.png" />
          <h2>
            <strong>Johnny Cash</strong>
            <span>Folsom Prison Blues</span>
          </h2>
        </a>
      </div> <!-- end: .tile-v6-wrap -->
      <div class="content-v6-wrap">
        <p>There is one distinct riff used throughout this song. Here is how you play it. You'll want to use your ring finger on the lowest E string, and initially slide your finger up to the 7th fret (which is the first proper note of the riff).</p>
      </div> <!-- end: content-v6-wrap -->
    </div>
  </div>
</div>

<div class="full-bleed wrap-color-dkGrey">
  <div class="container">
    <div class="content" style="padding: 20px 0 18px; margin-bottom: -5px;">
      <h1 style="margin: 0; font-weight: normal;">Version 3</h1>
    </div>
  </div>
</div>
<div class="full-bleed wrap-color-primary">
  <div class="container">
    <div class="content" style="padding: 20px 0 0;">
      <div class="tile-v5-wrap">
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>The Avett Brothers</strong>
            <span>Live and Die</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Father John Misty</strong>
            <span>Hollywood Cemetery Forever Sings</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Mason Jennings</strong>
            <span>Hospitals and Jails</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Taylor Swift</strong>
            <span>We Are Never Ever Getting Back Together</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Father John Misty</strong>
            <span>I'm Writing a Novel</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Bob Dylan</strong>
            <span>Shelter from the Storm</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Pearl Jam</strong>
            <span>Elderly Woman Behind the Counter in a Small Town</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Johnny Cash</strong>
            <span>Folsom Prison Blues</span>
          </h2>
        </a>
      </div> <!-- end: .tile-v5-wrap -->
    </div>
  </div>
</div>

<div class="full-bleed wrap-color-dkGrey">
  <div class="container">
    <div class="content" style="padding: 20px 0 18px; margin-bottom: -5px;">
      <h1 style="margin: 0; font-weight: normal;">Version 2</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="content content-island">
    <h2 class="ribbon">With Thumbnail</h2>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Arcade Fire</dt>
      <dd><a href=""><strong>Half Light I</strong></a></dd>
      <dd><a href=""><strong>Half Light II (No Celebration)</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Ben Harper</dt>
      <dd><a href=""><strong>The Drugs Don't Work</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bill Withers</dt>
      <dd><a href=""><strong>Lean On Me</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Blitzen Trapper</dt>
      <dd><a href=""><strong>Furr</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bob Dylan</dt>
      <dd><a href=""><strong>Shelter from the Storm</strong></a></dd>
      <dd><a href=""><strong>Tangled Up in Blue</strong></a></dd>
      <dd><a href=""><strong>The Man in Me</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bob Marley</dt>
      <dd><a href=""><strong>Redemption Song</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bryan Adams</dt>
      <dd><a href=""><strong>Summer of '69</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Cat Stevens</dt>
      <dd><a href=""><strong>Father and Son</strong></a></dd>
      <dd><a href=""><strong>Moonshadow</strong></a></dd>
    </dl>
  </div> <!-- end: .content -->

  <div class="content content-island">
    <h2 class="ribbon">No Thumbnail</h2>
    <dl class="tile-v4">
      <dt>Arcade Fire</dt>
      <dd><a href=""><strong>Half Light I</strong></a></dd>
      <dd><a href=""><strong>Half Light II (No Celebration)</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Ben Harper</dt>
      <dd><a href=""><strong>The Drugs Don't Work</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Bill Withers</dt>
      <dd><a href=""><strong>Lean On Me</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Blitzen Trapper</dt>
      <dd><a href=""><strong>Furr</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Bob Dylan</dt>
      <dd><a href=""><strong>Shelter from the Storm</strong></a></dd>
      <dd><a href=""><strong>Tangled Up in Blue</strong></a></dd>
      <dd><a href=""><strong>The Man in Me</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Bob Marley</dt>
      <dd><a href=""><strong>Redemption Song</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Bryan Adams</dt>
      <dd><a href=""><strong>Summer of '69</strong></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Cat Stevens</dt>
      <dd><a href=""><strong>Father and Son</strong></a></dd>
      <dd><a href=""><strong>Moonshadow</strong></a></dd>
    </dl>
  </div> <!-- end: .content -->

  <div class="content content-island">
    <h2 class="ribbon">With Tertiary Text</h2>
    <dl class="tile-v4">
      <dt>The Avett Brothers</dt>
      <dd><a href=""><strong>Live and Die</strong><span>2012</span></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Father John Misty</dt>
      <dd><a href=""><strong>Hollywood Forever Cemetery Sleeps</strong><span>2012</span></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Mason Jennings</dt>
      <dd><a href=""><strong>Hospitals and Jails</strong><span>2002</span></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Bill Withers</dt>
      <dd><a href=""><strong>Lean On Me</strong><span>1968</span></a></dd>
    </dl>
    <dl class="tile-v4">
      <dt>Bob Dylan</dt>
      <dd><a href=""><strong>Shelter from the Storm</strong><span>1975</span></a></dd>
      <dd><a href=""><strong>Tangled Up in Blue</strong><span>1975</span></a></dd>
      <dd><a href=""><strong>The Man in Me</strong><span>1970</span></a></dd>
    </dl>
  </div> <!-- end: .content -->
</div> <!-- end: .container -->

<div class="full-bleed wrap-color-dkGrey">
  <div class="container">
    <div class="content" style="padding: 20px 0 18px; margin-bottom: -32px;">
      <h1 style="margin: 0; font-weight: normal;">Version 1</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="content">

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BillWithers.png" />
          <h3>Bill Withers</h3>
          <p>
            <strong>Lean On Me</strong><span>1968</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BobDylan.jpg" />
          <h3>Bob Dylan</h3>
          <p>
            <strong>Shelter from the Storm</strong><span>1975</span>
          </p>
          <p>
            <strong>Tangled Up in Blue</strong><span>1975</span>
          </p>
          <p>
            <strong>The Man in Me</strong><span>1970</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/EdwardSharpeAndTheMagneticZeroes.png" />
          <h3>Edward Sharpe &amp; The Magnetic Zeros</h3>
          <p>
            <strong>Home</strong><span>2008</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/FirstAidKit.png" />
          <h3>First Aid Kit</h3>
          <p>
            <strong>Emmylou</strong><span>2012</span>
          </p>
          <p>
            <strong>King of the World</strong><span>2012</span>
          </p>
          <p>
            <strong>The Lion's Roar</strong><span>2012</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/Fun.png" />
          <h3>fun.</h3>
          <p>
            <strong>Some Nights</strong><span>2012</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/GunsNRoses.png" />
          <h3>Guns N' Roses</h3>
          <p>
            <strong>Patience</strong><span>1989</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JackJohnson.png" />
          <h3>Jack Johnson</h3>
          <p>
            <strong>Banana Pancakes</strong><span>2005</span>
          </p>
          <p>
            <strong>Do You Remember</strong><span>2005</span>
          </p>
          <p>
            <strong>Drink the Water</strong><span>2001</span>
          </p>
          <p>
            <strong>Fall Line</strong><span>2003</span>
          </p>
          <p>
            <strong>Flake</strong><span>2001</span>
          </p>
          <p>
            <strong>Mudfootball</strong><span>2001</span>
          </p>
          <p>
            <strong>Rodeo Clowns</strong><span>2003</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JasonMraz.png" />
          <h3>Jason Mraz</h3>
          <p>
            <strong>I Won't Give Up</strong><span>2012</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JimmyBuffett.png" />
          <h3>Jimmy Buffett</h3>
          <p>
            <strong>A Sailor's Christmas</strong><span>1996</span>
          </p>
          <p>
            <strong>Barefoot Children</strong><span>1994</span>
          </p>
          <p>
            <strong>Changes in Latitudes, Changes in Attitudes</strong><span>1975</span>
          </p>
          <p>
            <strong>Distantly in Love</strong><span>1983</span>
          </p>
          <p>
            <strong>Honey Do</strong><span>1983</span>
          </p>
          <p>
            <strong>Love in the Library</strong><span>1993</span>
          </p>
          <p>
            <strong>Margaritaville</strong><span>1975</span>
          </p>
          <p>
            <strong>Migration</strong><span>1975</span>
          </p>
          <p>
            <strong>The Weather is Here, Wish You Were Beautiful</strong><span>1981</span>
          </p>
          <p>
            <strong>Tin Cup Chalice</strong><span>1973</span>
          </p>
          <p>
            <strong>Trying to Reason with Hurricane Season</strong><span>1973</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JohnMellencamp.png" />
          <h3>John Mellencamp</h3>
          <p>
            <strong>Jack &amp; Diane</strong><span>1982</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JohnnyCash.png" />
          <h3>Johnny Cash</h3>
          <p>
            <strong>Danny Boy</strong><span>2004</span>
          </p>
          <p>
            <strong>Folsom Prison Blues</strong><span>1957</span>
          </p>
          <p>
            <strong>I Walk the Line</strong><span>1957</span>
          </p>
          <p>
            <strong>Ring of Fire</strong><span>1957</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/NeilYoung.png" />
          <h3>Neil Young</h3>
          <p>
            <strong>Harvest</strong><span>1972</span>
          </p>
          <p>
            <strong>Heart of Gold</strong><span>1972</span>
          </p>
          <p>
            <strong>Out on the Weekend</strong><span>1972</span>
          </p>
          <p>
            <strong>Sugar Mountain</strong><span>1977</span>
          </p>
          <p>
            <strong>The Needle and the Damage Done</strong><span>1972</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/Oasis.png" />
          <h3>Oasis</h3>
          <p>
            <strong>Don't Look Back in Anger</strong><span>1996</span>
          </p>
          <p>
            <strong>Wonderwall</strong><span>1996</span>
          </p>
        </a>
      </li>
    </ul>

    <ul class="tiles-full-v3">
      <li class="with_thumb">
        <a href="">
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/OfMonstersAndMen.png" />
          <h3>Of Monsters and Men</h3>
          <p>
            <strong>King and Lionheart</strong><span>1996</span>
          </p>
          <p>
            <strong>Little Talks</strong><span>2012</span>
          </p>
        </a>
      </li>
    </ul>

  </div> <!-- end: .content -->
</div> <!-- end: .container -->