<%# Adds body class for full color background %>
<% content_for :extra_class_names_for_body do %>wrap-color-white container-narrow<% end %>

<%= render "sandbox/sandbox_nav" %>

<div class="full-bleed wrap-color-dkGrey">
  <div class="container">
    <section>
      <div class="full-width">
        <h1>Tiles</h1>
        <p>Ways that content are distributed via tiles.</p>
      </div> <!-- .full-width -->
    </section>
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed .bg-color-primary -->



<div class="full-bleed wrap-color-primary">
  <div class="container">
    <section>
      <div class="full-width">

      <ul class="tiles-full-v2">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BobDylan.jpg" />
            <h3>Shelter from the Storm</h3>
            <p class="meta">Bob Dylan</p>
            <p class="meta-sub">1975</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/TaylorSwift.png" />
            <h3>We are Never Ever Getting Back Together</h3>
            <p class="meta">Taylor Swift</p>
            <p class="meta-sub">2012</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/EdwardSharpeAndTheMagneticZeroes.png" />
            <h3>Home</h3>
            <p class="meta">Edward Shape &amp; The Magnetic Zeros</p>
            <p class="meta-sub">2008</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/SheAndHim.jpg" />
            <h3>Sentimental Heart</h3>
            <p class="meta">She &amp; Him</p>
            <p class="meta-sub">2008</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JimmyBuffett.png" />
            <h3>Tin Cup Chalice</h3>
            <p class="meta">Jimmy Buffett</p>
            <p class="meta-sub">1973</p>
          </a>
        </li>
      </ul>

        
        <p>.tiles-full-v3</p>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BillWithers.png" />
              <h3>Lean On Me</h3>
              <p>
                <strong>Bill Withers</strong><span>1968</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BobDylan.jpg" />
              <h3>Shelter from the Storm</h3>
              <p>
                <strong>Bob Dylan</strong><span>1975</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/EdwardSharpeAndTheMagneticZeroes.png" />
              <h3>Home</h3>
              <p>
                <strong>Edward Sharpe &amp; The Magnetic Zeros</strong><span>2008</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/FirstAidKit.png" />
              <h3>First Aid Kit</h3>
              <p>
                <strong>Emmylou</strong><span>2012</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/Fun.png" />
              <h3>fun.</h3>
              <p>
                <strong>Some Nights</strong><span>2012</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/GunsNRoses.png" />
              <h3>Guns N' Roses</h3>
              <p>
                <strong>Patience</strong><span>1987</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JackJohnson.png" />
              <h3>Jack Johnson</h3>
              <p>
                <strong>Banana Pancakes</strong><span>2005</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JasonMraz.png" />
              <h3>Jason Mraz</h3>
              <p>
                <strong>I Won't Give Up</strong><span>2012</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JimmyBuffett.png" />
              <h3>Jimmy Buffett</h3>
              <p>
                <strong>A Sailor's Christmas</strong><span>1996</span>
              </p>
            </a>
          </li>
        </ul>

        <ul class="tiles-full-v3 latest">
          <li class="with_thumb">
            <a href="">
              <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JohnMellencamp.png" />
              <h3>John Mellencamp</h3>
              <p>
                <strong>Jack &amp; Diane</strong><span>1982</span>
              </p>
            </a>
          </li>
        </ul>

      </div> <!-- .full-width -->
    </section>
  </div> <!-- end: .container -->
</div> <!-- end: .full-bleed .bg-color-primary -->


<div class="container">
  <section>
    <div class="full-width">
      <p>.tiles-full-v3</p>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BillWithers.png" />
            <h3>Bill Withers</h3>
            <p>
              <strong>Lean On Me</strong><span>1968</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BobDylan.jpg" />
            <h3>Bob Dylan</h3>
            <p>
              <strong>Shelter from the Storm</strong><span>1975</span>
            </p>
            <p>
              <strong>Tangled Up in Blue</strong><span>1975</span>
            </p>
            <p>
              <strong>The Man in Me</strong><span>1970</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/EdwardSharpeAndTheMagneticZeroes.png" />
            <h3>Edward Sharpe &amp; The Magnetic Zeros</h3>
            <p>
              <strong>Home</strong><span>2008</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/FirstAidKit.png" />
            <h3>First Aid Kit</h3>
            <p>
              <strong>Emmylou</strong><span>2012</span>
            </p>
            <p>
              <strong>King of the World</strong><span>2012</span>
            </p>
            <p>
              <strong>The Lion's Roar</strong><span>2012</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/Fun.png" />
            <h3>fun.</h3>
            <p>
              <strong>Some Nights</strong><span>2012</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/GunsNRoses.png" />
            <h3>Guns N' Roses</h3>
            <p>
              <strong>Patience</strong><span>1987</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JackJohnson.png" />
            <h3>Jack Johnson</h3>
            <p>
              <strong>Banana Pancakes</strong><span>2005</span>
            </p>
            <p>
              <strong>Do You Remember</strong><span>2005</span>
            </p>
            <p>
              <strong>Drink the Water</strong><span>2001</span>
            </p>
            <p>
              <strong>Fall Line</strong><span>2003</span>
            </p>
            <p>
              <strong>Flake</strong><span>2001</span>
            </p>
            <p>
              <strong>Mudfootball</strong><span>2001</span>
            </p>
            <p>
              <strong>Rodeo Clowns</strong><span>2003</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JasonMraz.png" />
            <h3>Jason Mraz</h3>
            <p>
              <strong>I Won't Give Up</strong><span>2012</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JimmyBuffett.png" />
            <h3>Jimmy Buffett</h3>
            <p>
              <strong>A Sailor's Christmas</strong><span>1996</span>
            </p>
            <p>
              <strong>Barefoot Children</strong><span>1994</span>
            </p>
            <p>
              <strong>Changes in Latitudes, Changes in Attitudes</strong><span>1975</span>
            </p>
            <p>
              <strong>Distantly in Love</strong><span>1983</span>
            </p>
            <p>
              <strong>Honey Do</strong><span>1983</span>
            </p>
            <p>
              <strong>Love in the Library</strong><span>1993</span>
            </p>
            <p>
              <strong>Margaritaville</strong><span>1975</span>
            </p>
            <p>
              <strong>Migration</strong><span>1975</span>
            </p>
            <p>
              <strong>The Weather is Here, Wish You Were Beautiful</strong><span>1981</span>
            </p>
            <p>
              <strong>Tin Cup Chalice</strong><span>1973</span>
            </p>
            <p>
              <strong>Trying to Reason with Hurricane Season</strong><span>1973</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JohnMellencamp.png" />
            <h3>John Mellencamp</h3>
            <p>
              <strong>Jack &amp; Diane</strong><span>1982</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JohnnyCash.png" />
            <h3>Johnny Cash</h3>
            <p>
              <strong>Danny Boy</strong><span>2004</span>
            </p>
            <p>
              <strong>Folsom Prison Blues</strong><span>1957</span>
            </p>
            <p>
              <strong>I Walk the Line</strong><span>1957</span>
            </p>
            <p>
              <strong>Ring of Fire</strong><span>1957</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/NeilYoung.png" />
            <h3>Neil Young</h3>
            <p>
              <strong>Harvest</strong><span>1974</span>
            </p>
            <p>
              <strong>Heart of Gold</strong><span>1974</span>
            </p>
            <p>
              <strong>Out on the Weekend</strong><span>1974</span>
            </p>
            <p>
              <strong>Sugar Mountain</strong><span>1978</span>
            </p>
            <p>
              <strong>The Needle and the Damage Done</strong><span>1978</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/Oasis.png" />
            <h3>Oasis</h3>
            <p>
              <strong>Don't Look Back in Anger</strong><span>1996</span>
            </p>
            <p>
              <strong>Wonderwall</strong><span>1996</span>
            </p>
          </a>
        </li>
      </ul>

      <ul class="tiles-full-v3">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/OfMonstersAndMen.png" />
            <h3>Of Monsters and Men</h3>
            <p>
              <strong>King and Lionheart</strong><span>1996</span>
            </p>
            <p>
              <strong>Little Talks</strong><span>2012</span>
            </p>
          </a>
        </li>
      </ul>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />



      <p>.tiles-full-v2</p>

      <ul class="tiles-full-v2">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/BobDylan.jpg" />
            <h3>Shelter from the Storm</h3>
            <p class="meta">Bob Dylan</p>
            <p class="meta-sub">1975</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/TaylorSwift.png" />
            <h3>We are Never Ever Getting Back Together</h3>
            <p class="meta">Taylor Swift</p>
            <p class="meta-sub">2012</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/EdwardSharpeAndTheMagneticZeroes.png" />
            <h3>Home</h3>
            <p class="meta">Edward Shape &amp; The Magnetic Zeros</p>
            <p class="meta-sub">2008</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/SheAndHim.jpg" />
            <h3>Sentimental Heart</h3>
            <p class="meta">She &amp; Him</p>
            <p class="meta-sub">2008</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/JimmyBuffett.png" />
            <h3>Tin Cup Chalice</h3>
            <p class="meta">Jimmy Buffett</p>
            <p class="meta-sub">1973</p>
          </a>
        </li>
      </ul>

      <p>.tiles-full-v1</p>

      <ul class="tiles-full-v1">
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="" />
            <h3>Shelter from the Storm</h3>
            <p class="meta">Bob Dylan</p>
            <p class="meta-sub">1975</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="" />
            <h3>We are Never Ever Getting Back Together</h3>
            <p class="meta">Taylor Swift</p>
            <p class="meta-sub">2012</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="" />
            <h3>Home</h3>
            <p class="meta">Edward Shape &amp; The Magnetic Zeros</p>
            <p class="meta-sub">2008</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="" />
            <h3>I Feel Home</h3>
            <p class="meta">OAR</p>
            <p class="meta-sub">2003</p>
          </a>
        </li>
        <li class="with_thumb">
          <a href="">
            <img class="thumb" src="" />
            <h3>Tin Cup Chalice</h3>
            <p class="meta">Jimmy Buffett</p>
            <p class="meta-sub">1973</p>
          </a>
        </li>
      </ul>
    </div> <!-- end: .full-width -->
  </section>
</div> <!-- end: .container -->