/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body  { margin: 32px 0; padding: 0; font-family: "Source Sans Pro", sans-serif; font-weight: 300; background: #444; color: #444; font-size: 19px; line-height: 25px; }
a     { color: #0088cc; text-decoration: none; }

h1    { color: #252525; font-size: 60px; line-height: 60px; font-weight: 600; padding: 0; margin: 0 0 5px 0; }
h2    { color: #333; font-size: 26px; font-weight: 600; padding: 0; margin: 0 0 20px 0; }
h3    { font-size: 24px; line-height: 32px; font-weight: 200; padding: 0; margin: 0 0 0 0; color: #777; }
h4    { font-size: 15px; line-height: 19px; font-weight: 300; padding: 0; margin: 0; color: #aaa; }

p         { padding: 0; margin: 0 0 21px 0; }
p strong  { font-weight: 600; }

.container { background: #fff; }
.container-inner { padding: 24px 20px; }

.bucket       { padding: 24px 0 35px; border-top: 3px double #eaeaea; }

.song_header        { border-top: none; padding-top: 10px; padding-bottom: 21px; }
.song_lyrics        { }
.song_lyrics .section_head { display: inline-block; margin-bottom: 4px; }
.song_notes         { }
.song_notes pre    { margin: 0 0 24px 0; }
.song_chords        { }
.song_info          { padding-bottom: 0px; }

.chords_inline      { color: #D30922; font-weight: 400; }
.chord              { font-weight: 600; color: #D30922; }
.section_head       { color: #444; font-weight: 600; }
.sub_head           { color: #999; font-weight: 300; }
.note               { }

.footer_link        { margin: 128px 0 0 0; }
.footer_link a      { display: block; background: #333; padding: 20px; color: #fff;  }



pre { color: #555; margin: 0; padding: 0; white-space: pre; font-family: "Source Code Pro"; font-weight: 400; word-wrap: normal; border-radius: 0; border-left: 0; border-right: 0; }
pre em { font-style: normal; }















.directory { padding: 0; border-bottom: 1px solid #ddd;}
.directory li { list-style: none; }
.directory li a { color: #888; font-size: 14px; display: block; border-top: 1px solid #ddd; padding: 12px 16px; }
.directory li a strong { color: #333; font-size: 16px; }





/* -------------------------------------------- */
/* ----------------- RESPONSIVE --------------- */
/* -------------------------------------------- */

    /* Large desktop */
    @media (min-width: 980px) { 
      body { font-size: 19px; line-height: 25px; border-top: 5px solid orange; }
      .container { width: 940px; margin: 0 auto; }
      .container-inner { padding: 21px 38px; }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { 
      body { margin: 0; font-size: 16px; line-height: 21px; border-top: 5px solid purple; }
      .container { min-width: 768px; max-width: 979px; }
      .container-inner { padding: 16px 24px; }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 640px) and (max-width: 767px) { 
      body { margin: 0; font-size: 14px; line-height: 18px; border-top: 5px solid yellow; }
      .container { min-width: 640px; max-width: 767px; }
      .container-inner { padding: 16px 24px; }
      h1 { font-size: 40px; line-height: 40px; }
      h3 { font-size: 21px; line-height: 21px; }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 480px) and (max-width: 639px) { 
      body { margin: 0; font-size: 14px; line-height: 18px; border-top: 5px solid blue; }
      .container { min-width: 480px; max-width: 639px; }
      .container-inner { padding: 16px 24px; }
      h1 { font-size: 32px; line-height: 32px; }
      h3 { font-size: 19px; line-height: 19px; }
    }

    /* Landscape phones and down */
    @media (max-width: 479px) { 
      body { margin: 0; font-size: 11px; line-height: 14px; border-top: 5px solid red; }
      .container { min-width: 320px; max-width: 479px; }
      .container-inner { padding: 14px 20px; }
      pre { letter-spacing: -1px; }
      h1 { font-size: 24px; line-height: 24px; }
      h3 { font-size: 16px; line-height: 16px; }
    }
    
    .container { overflow: hidden; }

/* -------------------------------------------- */
/* ----------------- ADMIN -------------------- */
/* -------------------------------------------- */

    body.admin        { margin: 0; padding: 0; background: #fff; font-weight: 500; font-size: 18px; }
    .admin .container { }
    .admin form .field       { overflow: hidden; width: auto; border-bottom: 1px solid #eee; padding: 5px 0; }
    .admin form .field label { float: left; width: 150px; display: block; font-weight: 600; }
    .admin form .field .radio_label { width: auto; width: 50px;}
    .admin form .field input,
    .admin form .field textarea { float: left; font-size: 14px; padding: 5px; }
    .admin form .field textarea { width: 800px; height: 100px; font-family: "Source Code Pro" }

    table { border-collapse: collapse; font-size: 15px; }
    table td { border: 1px solid #ddd; text-align: left; padding: 8px; }
    table th { border: 1px solid #ddd; text-align: left; padding: 8px; background: #eee; }