    /* Large desktop */
    @media (min-width: 980px) { 
      html                        { font-size: 70.0%; }
      .container        { width: 900px; }
      .container .buffer{ padding-left: 24px; padding-right: 24px; }
      .song_show .container       { width: 960px; }
      ul.tiles > li.arrow .tile   { background-size: 50px 30px; }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 769px) and (max-width: 979px) { 
      html                        { font-size: 62.5%; }
      .container        { width: 768px; }
      .container .buffer{ padding-left: 24px; padding-right: 24px; }
      .song_show .container       { width: 768px; }
      ul.tiles > li .tile         { padding: 24px 72px 24px 24px; }
      ul.tiles > li.arrow .tile   { background-size: 45px 27px; }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 640px) and (max-width: 768px) { 
      html                        { font-size: 62.5%; }
      .container                  { width: 100%; }
      .container .buffer          { padding: $top_buffer 12px; }
      .song_show .container       { width: 768px; }
      ul.tiles > li .tile         { padding: 21px 65px 21px 21px; }
      ul.tiles > li.arrow .tile   { background-size: 40px 24px; }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 480px) and (max-width: 639px) { 
      html                        { font-size: 57%; }
      .container                  { width: 100%; }
      .container .buffer          { padding: $top_buffer 12px; }
      .song_show .container       { width: 768px; }
      ul.tiles > li .tile         { padding: 18px 60px 18px 18px; }
      ul.tiles > li.arrow .tile   { background-size: 25px 15px; }
    }

    /* Landscape phones and down */
    @media (max-width: 479px) { 
      html                        { font-size: 50%; }
      .container                  { width: 100%; }
      .container .buffer          { padding: $top_buffer 10px; }
      .song_show .container       { width: 640px; }
      ul.tiles > li .tile         { padding: 14px 60px 14px 14px; }
      ul.tiles > li.arrow .tile   { background-size: 25px 15px; }
    }

    // This needs to be universal. To do: put it somewhere that makes more sense
    .song_show .buffer { padding-top: 0; }