body { padding: 0; margin: 0; background: $bg_color; }

// to fix iOS orientation zoom bug via http://blog.pgrady.com/post/29511322784/fixing-the-ios-orientation-bug-in-three-steps
html, body {-webkit-text-size-adjust: 100%;}

// Container width is set to 100% viewport or 768px -- whichever is smaller. See responsonsive.scss for this declaration.

// Container should be centered always.
.container            { margin: 0 auto; }

// Container with buffer should have spacing on top/bottom/left/right
.container .buffer    { padding-top: $top_buffer; padding-bottom: $top_buffer; }