//  --------------------------------------------------------------------------------
//  General Typography
//  --------------------------------------------------------------------------------

    html {  font-size:    62.5%; }
    body {  background:   $color_primary; 
            font-family:  $body_fonts_primary; 
            line-height:  1.4rem;
            color:        $body_copy_color_reg; }

    //  Links
        a                     { color: $link_color; text-decoration: none; }

    //  Headers –– Universal
        h1, h2, h3,
        h4, h5, h6            { font-family: $body_fonts_primary; font-weight: bold; padding: 0; margin: 0 0 0.5em 0; nowhitespace: afterproperty; color: $body_copy_color_darker; }

    //  Headers –– Basic Variety
        h1                    { font-size: 2.8rem; line-height: 2.8rem; margin: 0 0 1.8rem 0; font-weight: bold; }
        h2                    { font-size: 2.4rem; line-height: 2.4rem; margin: 0 0 1.8rem 0; font-weight: normal; font-style: italic; }
        h3                    { font-size: 2.4rem; line-height: 2.4rem; margin: 0 0 1.6rem 0; font-weight: normal; }
        h3.bucket_head        { color: #fff; }
        h4                    { font-size: 1.6rem; line-height: 1.8rem; margin: 0 0 1.2rem 0; font-weight: bold; }
        h5                    { font-size: 1.4rem; line-height: 1.7rem; margin: 0 0 0.8rem 0; font-weight: normal; font-style: italic; color: $body_copy_color_lighter; }

        pre                   { font-family: $body_fonts_mono; }

    // About page           
        .about_page h1        { font-size: 4.4rem; line-height: 4.4rem; margin: 0 0 2rem 0; }
        .about_page h2        { font-size: 2.8rem; line-height: 3.2rem; margin: 0 0 2rem 0; }
        .about_page p         { font-size: 1.8rem; line-height: 2.7rem; margin: 0 0 2.1rem 0; }


//  =================================================================================================================================
//  =================================================================================================================================
//  Tiles
//  =================================================================================================================================
//  =================================================================================================================================
    .tile { background: #fff; }

//  =================================================================================================================================
//  =================================================================================================================================
//  Welcome
//  =================================================================================================================================
//  =================================================================================================================================
    .welcome  { padding: 27px 0 18px; margin: 0 0 10px 0; color: #fff; }
    .welcome h1 { text-align: center; font-size: 7.0rem; line-height: 7.0rem; color: #fff; margin: 0 0 2.1rem 0; }
    .welcome p { font-size: 1.8rem; line-height: 2.6rem; text-align: center; }
    .welcome p a { color: #fff; }



//  =================================================================================================================================
//  =================================================================================================================================
//  Song Show
//  =================================================================================================================================
//  =================================================================================================================================

    .song_show            { }
    .song_show .buffer    { padding-top: 0; }
    
    // "Back to song list" link
    .back_to_browse       { color: #fff; font-size: 1.25rem; line-height:1.85rem; display: block; padding: 1.8rem 0 1.4rem 3rem; background: url(/assets/icon_arrow_back.png) no-repeat left center; background-size: 2.1rem 1.2rem; }
    
    .song_show .tile      { padding: 24px 24px; }
    .song_show h3.bucket_head { margin-top: 3.5rem; }

    .song_show .uni_header              { background: $black; }
    .song_show .uni_header .container  { background: $black; height: 40px; }
    .song_show .uni_header .container a { display: block; height: 40px; line-height: 44px; color: #fff; font-weight: 300; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; }
    .song_show .uni_header .container .buffer { padding-top: 0; padding-bottom: 0; }

    .song_show .song_header h1  { font-size: 4.8rem; line-height: 4.8rem; margin: 0 0 1.4rem 0; }
    .song_show .song_header p   { font-size: 2.0rem; line-height: 2.0rem; margin: 0 0 2.2rem 0; color: $body_copy_color_lighter; }

    .bucket                 { border-bottom: 3px double #e6e6e6; margin-bottom: 21px; }

    .song_show pre          { font-size: 1.4rem; line-height: 1.8rem; }
    .song_show h2           { font-size: 3.5rem; line-height: 3.5rem; margin: 0 0 2.8rem 0; }
    .song_show h4           { font-size: 1.6rem; line-height: 1.9rem; margin: 0 0 0.7rem 0; }
    .song_show p            { font-size: 1.4rem; line-height: 1.9rem; margin: 0 0 1.6rem 0; }


    .song_lyrics.bucket     { padding-bottom: 32px; }
    .song_notes .bucket     { padding-bottom: 32px; }
    .song_chords .bucket     { padding-bottom: 32px; }

    .pre_lyrics h4          { margin-bottom: -0.8rem; }
    .song_chords h4         { margin: 0 0 0.5rem 0; }
    
    pre.pre_notes           { margin: 0 0 2.5rem 0; }
    pre.chord_notation      { margin: 0 0 18px 0; }
    
    .chords_inline          { color: $color_secondary; }
    .chords_repeated        { display: none; }
    .chord_notation         { color: #666; }
    .note                   { color: $body_copy_color_lighter; }
    .chord                  { color: $color_secondary; font-weight: bold; }


//  =================================================================================================================================
//  =================================================================================================================================
//  Default, with side buffer space (add class "rows")
//  =================================================================================================================================
//  =================================================================================================================================
    ul.tiles                                { margin: 0 0 3.0rem 0; padding: 0; }
    ul.tiles > li                           { margin: 0 0 1px 0; list-style: none; }
    ul.tiles > li .tile                     { padding: 24px; display: block; position: relative; background: $white; @include clearfix; }
    ul.tiles > li .tile h1                  { font-size: 2.8rem; margin: 0 0 0.8rem 0; }
    ul.tiles > li .tile h3                  { font-size: 1.8rem; margin: 0 0 0 0; color: $body_copy_color_lighter; }
    ul.tiles > li .tile .right              { background: $color_secondary; position: absolute; right: 38px; color: #fff; top: 50%; font-size: 11px; line-height: 13px; display: inline-block; padding: 2px 4px 4px; margin-top: -9px; font-weight: 300; }
    ul.tiles > li.new .tile                 { padding-right: 75px; }

    ul.tiles > li:hover .tile h1,
    ul.tiles > li:active .tile h1           { color: $color_secondary; }
    ul.tiles > li:hover .tile h3,
    ul.tiles > li:active .tile h3            { color: $color_secondary; }
    ul.tiles > li:hover .tile h4,
    ul.tiles > li:active .tile h4            { color: $color_secondary; }

    // Arrow
    ul.tiles > li.arrow .tile               { background: $white url(/assets/icon_arrow.png) right center no-repeat; background-size: 40px 24px; }


//  =================================================================================================================================
//  =================================================================================================================================
//  Browse Nav (Top Fixed)
//  =================================================================================================================================
//  =================================================================================================================================

    .browse_nav                                               { background: #333;position:fixed;top:0;width:100%;z-index:1; }
    .browse_nav .container                                    {  }
    .browse_nav ul.browse_nav_wrap                            { position: relative; width:100%; overflow:hidden; z-index: 2; margin: 0; padding: 0; height: $nav_height; }
    .browse_nav ul.browse_nav_wrap > li                       { list-style: none; float: left; margin: 0; padding: 0; text-align: center; color: #fff; }
    .browse_nav ul li a                                       { background: #333; height: $nav_height; display: block; line-height: $nav_height;  display: block; color: $color_primary_screen; font-size: $body_copy_size_smaller; }
    .browse_nav ul li.active a                                { background: $color_secondary; color: $white; }
    .browse_nav ul.browse_nav_wrap > li.home                  { position: absolute; top: 0; left: 0; width: 60px; }
    .browse_nav ul.browse_nav_wrap > li.browse_links          { position: absolute; top: 0; left: 60px; right: 0px; text-align: center; }
    .browse_nav ul.browse_nav_wrap > li.browse_links ul       { margin: 0; padding: 0; height: $nav_height; }
    .browse_nav ul.browse_nav_wrap > li.browse_links ul > li  { list-style: none; margin: 0; padding: 0; float: left; width: 33.3333333333333%; background: $color_primary; }

    // Magic to get the borders right
    .browse_nav ul.browse_nav_wrap              { margin:0 0 0 -1px;padding:0 1px 0 0;border-right:1px solid #1a1a1a; }
    .browse_nav ul.browse_nav_wrap > li a        { box-shadow: inset 1px 0px 0px #1a1a1a; }
    .browse_nav li.browse_links li a              { box-shadow: inset 1px 0px 0px #1a1a1a; }

    // The <li> that gets the home icon...
    .browse_nav ul > li.home a    { background: url(/assets/icon_home_40px.png) no-repeat center; background-size:20px 20px; height: 0; padding-top: 48px; overflow: hidden; }
    
    // Make the nav go full width if the container is 100% width. Otherwise, the inherited side-margins will be in effect.
    // --------------------------------------------------------------------------------------------------------------------
        // Default for wider screens (so left/right edge of content aligns with left/right edge of nav items)
        .browse_nav_wrap_outer                            { margin: 0 $side_buffer; }
        // Override for smaller screens (so nav goes full bleed)
        @media (min-width: 640px) and (max-width: 767px)  { .browse_nav_wrap_outer { margin: 0; } }
        @media (min-width: 480px) and (max-width: 639px)  { .browse_nav_wrap_outer { margin: 0; } }
        @media (max-width: 479px)                         { .browse_nav_wrap_outer { margin: 0; } }