// Sandbox Area Helpers

    .tile-teacher { background: #ddd; text-align: center; padding: 20px; color: #777; font-size: 18px; line-height: 24px; margin-bottom: 1em; }
    .tile-teacher span { display: block; color: #999; color: red; font-family: $body_fonts_mono; margin: 10px 0 0 0; font-size: 14px; line-height: 24px; font-weight: bold; }

// Admin

    .admin { font-family: "Helvetica Neue", Arial; padding: 20px; background: #fff; }

    // Table Formatting
    .admin table { border-collapse: collapse; }
    .admin table a { display: block; }
    .admin th,
    .admin td { padding: 7px; border: 1px solid #ddd; text-align: left; font-size: 16px; white-space: nowrap;}
    .admin th { background: #333; color: #fff; }
    .admin th a { background: #333; color: #fff; }
    .admin td { }
    
    // Form Styling
    .admin textarea { height: 40px; }
