//-----------------------------------------------------------------------------
//
//  Alt. Color Page Background
//
//-----------------------------------------------------------------------------

    body.colored-bg { background: $color_primary; }

    body.colored-bg { 

      // Change default text color
      p,li,code,pre,
      dd,dt,td,th { color: #fff; }

      // Change header colors
      h1, h2, h3,
      h4, h5, h6  { color: #fff; }

    }

//-----------------------------------------------------------------------------
//
//  Full Bleed Content
//
//-----------------------------------------------------------------------------

    // Defaults to primary color for background
    .full-bleed                   { background: $color_primary; }

    // ...with light background
    .full-bleed.full-bleed-light  { background: $white; }
    .full-bleed.full-bleed-light  {

        // Change default text color
        p,li,code,pre,
        dd,dt,td,th { color: $body_copy_color_reg; }

        // Change header colors
        h1, h2, h3,
        h4, h5, h6  { color: $body_copy_color_strong; }
      
    }
    
    // ...with dark background
    .full-bleed.full-bleed-dark   { background: $black; }
    .full-bleed.full-bleed-dark   {

        // Change default text color
        p,li,code,pre,
        dd,dt,td,th { color: $body_copy_color_inv_reg; }

        // Change header colors
        h1, h2, h3,
        h4, h5, h6  { color: $body_copy_color_inv_strong; }
      
    }