// ------------------------------------------------------------
//    Google Fonts CSS -- insert into layout <head>
// ------------------------------------------------------------
    
    $google_font_OpenSans:          "Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300";
    $google_font_AveriaSerifLibre:  "Averia+Serif+Libre:300,400,700,300italic,400italic,700italic";
    $google_font_SourceCodePro:     "Source+Code+Pro:300,400,600,700";

// ------------------------------------------------------------
//    Brand Colors
// ------------------------------------------------------------

    $black: #333333;
    $white: #ffffff;

    $bg_color: #f1fdf7;

    // Rdio Blue, as per v1
    $color_primary: #008fc9;

    // Rdio Orange, as per v1
    $color_secondary: #ed3f1c;

// ------------------------------------------------------------
//    Typography: Colors
// ------------------------------------------------------------

    $link_color: #0076da;
    $body_copy_color_reg: #333;
    $body_copy_color_strong: #222;
    $body_copy_color_subtle: #888;

    $body_copy_color_inv_reg: #ddd;
    $body_copy_color_inv_strong: #fff;
// ------------------------------------------------------------
//    Typography: Font Sizes & Line Height
// ------------------------------------------------------------

    // ...

// ------------------------------------------------------------
//    Typography: Font Families
// ------------------------------------------------------------

    $body_fonts_primary: 'Open Sans','Helvetica Neue', Arial;
    // Formerly used "Bitter"
    
    $body_fonts_mono: "Courier New","Anonymous Pro",monospace;

// ------------------------------------------------------------
//    Misc. Variables
// ------------------------------------------------------------

    $nav_height: 48px;

// ------------------------------------------------------------
//    Responsive Columns
// ------------------------------------------------------------


    $gridGutterWidth: 1.515151515152%;    // 10     ÷ 660
                                      

                                      // See responsive.scss for details.
                                      //
                                      // Wrapping container is 100% minus ($gutterWidth x 2)
                                      // e.g., 100 - (1.515151 * 2) = 96.96969696%
                                      
                                      // Each column has margin of $gutterWidth on both left + right side
                                      // e.g. 46.875% + margin: 0 $gutterWidth

    $gridFullWidth: 96.9696969697%;       // 640    ÷ 660
    $gridHalves: 46.875%;                 // 300    ÷ 640
    $gridThirds: 30.208333333%;           // 193.33 ÷ 640
    $gridQuarters: 21.875%;               // 140    ÷ 640
    $gridFifths: 16.875%;                 // 108    ÷ 640
    $gridSixths: 13.541666666%;           // 86.667 ÷ 640
    
    $gridOneThirds: 35.0%;                // 224    ÷ 640
    $gridTwoThirds: 58.75%;               // 376    ÷ 640