//  --------------------------------------------------------------------------------
//  General Typography
//  --------------------------------------------------------------------------------

    html, body {-webkit-text-size-adjust: 100%;}
    html {  font-size:    62.5%; }
    body {  background:   $white; 
            font-family:  $body_fonts_primary; 
            line-height:  1.4rem;
            color:        $body_copy_color_reg; }

    //  Links
        a,a:visited,a:hover,a:active                     { color: $link_color; text-decoration: none; }

    //  Headers –– Universal
        h1, h2, h3,
        h4, h5, h6            { font-family: $body_fonts_primary; font-weight: bold; padding: 0; margin: 0 0 0.5em 0; nowhitespace: afterproperty; color: $body_copy_color_strong; }

    //  Headers –– Basic Variety
        h1                    { font-size: 4.0rem; line-height: 4.0rem; margin: 3.0rem 0 2.4rem 0; font-weight: bold; }
        h2                    { font-size: 3.2rem; line-height: 3.6rem; margin: 3.0rem 0 2.4rem 0; font-weight: bold; }
        h3                    { font-size: 2.7rem; line-height: 3.2rem; margin: 2.4rem 0 2.0rem 0; font-weight: bold; }
        h4                    { font-size: 2.4rem; line-height: 3.0rem; margin: 2.0rem 0 1.2rem 0; font-weight: bold; }
        h5                    { font-size: 2.1rem; line-height: 2.7rem; margin: 2.0rem 0 1.2rem 0; font-weight: bold; }

        p,li,code,pre,
        dd,dt,td,th           { font-size: 2.1rem; line-height: 3.2rem; }
        
        p,dd,ol,ul            { margin: 2.0rem 0 2.8rem 0; }

        pre                   { font-size: 2.0rem; line-height: 2.8rem; font-family: $body_fonts_mono; font-weight: bold; white-space: pre;}
        
        ul,ol                 { padding-left: 30px; }
        
        dt                    { font-weight: 700; }
                
        hr                    { margin: 3rem 0; }